<div class="content" role="main">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput/>
    </mat-form-field>
    <app-persoenliche-angaben [user]="user" (initialisedForm)="onInitialisedPersoenlicheAngabenForm($event)">

    </app-persoenliche-angaben>
    <button mat-button type="submit">Submit</button>
  </form>

  <div>Is submitted form valid? {{isSubmittedFormValid}}</div>
  <div>Data: {{submittedData | json}}</div>


</div>



