<div class="content" role="main">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput/>
      <mat-error *ngIf="this.form.controls.address.invalid">
        Dieses Feld ist nicht valide.
      </mat-error>
    </mat-form-field>
    <app-persoenliche-angaben formControlName="user" [user]="portfolio.user"></app-persoenliche-angaben>
    <mat-error *ngIf="this.form.controls.user.invalid">
      Dieses Feld ist nicht valide.
      {{ this.form.controls.user.errors.message }}
    </mat-error>
    <button mat-button type="submit" [disabled]="this.form.invalid">Submit</button>
  </form>


  <button mat-button (click)="changeUser()">Change user data from external.</button>

  <pre>
    Dirty: {{this.form.dirty}}
    Touched: {{this.form.touched}}
    Pristine: {{this.form.pristine}}
    Valid: {{ this.form.valid }}
    Errors: {{ this.form.errors | json }}
  </pre>

</div>



